body{
	padding: 0px;
	margin: 0px;
	background: #F5F5F5;
}
h1{
	padding-top: 40px; 
}
#header{
	letter-spacing: 2px;
	font: caption;
	font-size: 12px;
	text-transform: uppercase;
}
#navigatie{
	background: #000000;
	color: white;
	letter-spacing: 2px;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}
#navigatie ul{
	text-align: center;
}
#navigatie li{
	display: inline;
	padding: 25px;
	cursor: pointer;
}
#navigatie a{
	color: white;
}
#navigatie li:hover{
	background-color: #2699FB;
}
.main{
	font: caption;
	text-align: left;
	background-color: #F5F5F5;
	border: solid;
	width: 1000px;
	margin-bottom: 10px;
	padding: 10px;
	float: left;
	margin-left: 4em;
	margin-right: 2em;
}
#molen{
	width: 300px;
	margin-left: 100px;
}
 #grachtenpand{
	width: 300px;
	float: right;
	margin-right: 100px;
 }
 #sidebar{
	font: caption;
	text-align: left;
	background-color: #F5F5F5;
	border: solid;
	width: 250px;
	padding: 10px;
	float: right;
	margin-right: 4em;
	margin-left:2em;
 }
 #sitefooter{
	background: #000000;
	color: white;
	letter-spacing: 2px;
	overflow: hidden;
	bottom: 0;
	width: 100%;
	margin-top: 10px;
 }
#turnen, #honkbal, #voetbal, #basketball, #roeien, #gym, #kickbox, #tennis, #tennisbal {
  float: left;
  width: 200px;
}
li {
  padding: 10px;
  overflow: auto;
}
.titelList{
	font-size: 13pt;
}


	